In [3]:
import pandas as pd
import numpy as np

In [6]:
file = 'DOHMH_New_York_City_Restaurant_Inspection_Results.csv'

In [19]:
nyc_inspect = pd.read_csv(file, encoding="ISO-8859-1")
type(nyc_inspect)
nyc_inspect.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE'],
      dtype='object')

In [20]:
nyc_inspect.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,50035269,FRESCO TORTILLAS,QUEENS,3112,36TH AVE,11106.0,7182679536,Tex-Mex,02/15/2019,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,9.0,A,02/15/2019,03/20/2019,Cycle Inspection / Initial Inspection
1,40861669,NEW VICTORY RESTAURANT,BROOKLYN,4803,5 AVENUE,11220.0,7184312938,Chinese,02/21/2019,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,10.0,A,02/21/2019,03/20/2019,Cycle Inspection / Re-inspection
2,50010567,CUSP,BROOKLYN,321,7TH AVE,11215.0,7187882980,CafÃÂ©/Coffee/Tea,03/23/2018,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,8.0,A,03/23/2018,03/20/2019,Cycle Inspection / Re-inspection
3,40821227,SABOR A MEXICO,MANHATTAN,1744,FIRST AVENUE,10128.0,2122892641,Mexican,12/08/2015,Violations were cited in the following area(s).,09C,Food contact surface not properly maintained.,Not Critical,7.0,A,12/08/2015,03/20/2019,Cycle Inspection / Initial Inspection
4,50050905,BY CHLOE,MANHATTAN,60,W 22ND ST,10010.0,6463584021,Vegetarian,12/22/2017,Violations were cited in the following area(s).,04C,Food worker does not use proper utensil to eli...,Critical,24.0,NaN,NaN,03/20/2019,Cycle Inspection / Initial Inspection

In [21]:
nyc_inspect.count()

CAMIS                    385386
DBA                      384841
BORO                     385386
BUILDING                 385158
STREET                   385383
ZIPCODE                  379585
PHONE                    385379
CUISINE DESCRIPTION      385386
INSPECTION DATE          385386
ACTION                   383967
VIOLATION CODE           379351
VIOLATION DESCRIPTION    377075
CRITICAL FLAG            385386
SCORE                    366488
GRADE                    194272
GRADE DATE               192672
RECORD DATE              385386
INSPECTION TYPE          383967
dtype: int64

In [43]:
rest_num = nyc_inspect['DBA'].value_counts()
type(rest_num)
print(rest_num)

DUNKIN' DONUTS                           3856
SUBWAY                                   3065
MCDONALD'S                               2181
STARBUCKS                                2140
KENNEDY FRIED CHICKEN                    1343
DUNKIN' DONUTS, BASKIN ROBBINS           1244
DOMINO'S                                 1054
CROWN FRIED CHICKEN                      1053
BURGER KING                               936
GOLDEN KRUST CARIBBEAN BAKERY & GRILL     860
POPEYES LOUISIANA KITCHEN                 784
CHIPOTLE MEXICAN GRILL                    758
KFC                                       611
LE PAIN QUOTIDIEN                         486
CHECKERS                                  473
DUNKIN DONUTS                             468
WENDY'S                                   460
PRET A MANGER                             381
VIVI BUBBLE TEA                           362
CARVEL ICE CREAM                          345
AU BON PAIN                               340
BAREBURGER                                333
PAPA JOHN'S                               331
PARIS BAGUETTE                            329
LITTLE CAESARS                            301
BOSTON MARKET                             290
JUST SALAD                                287
IHOP                                      279
BREAD & BUTTER                            269
HALE & HEARTY SOUP                        259
                                         ...
MAVSOHO                                     1
ST TROPEZ                                   1
THE DANCER                                  1
SALT BRICK TAVERN                           1
BD NYC PIZZA                                1
Dolma                                       1
BLVD BISTRO                                 1
HOMETEOWN BAR-B-QUE                         1
Tropic Juice                                1
JJ'S                                        1
MOMO CHICKEN                                1
JUICOLOGY                                   1
Top Tortilla                                1
AMERICAN BRASS                              1
SAINT GIOVANNI                              1
HER NAME WAS CARMEN                         1
TAKESHI SUSHI                               1
SAN MARCO PIZZABAR                          1
THAT SUSHI SPOT LLC                         1
THE FAT CARDINAL BAKERY                     1
Ninja Japanese Restaurant                   1
CHIC-FIL-A AT FULTON STREET IN-LINE         1
WAKU WAKU                                   1
PANDA 88 INC                                1
PLOWSHARES COFFEE ROASTERS                  1
SO TASTY NIGERIA AFRICAN RESTAURANT         1
C BAO                                       1
ANDREA ZOGA                                 1
ATWOOD                                      1
THE SHANNON POT 2                           1
Name: DBA, Length: 21323, dtype: int64

In [40]:
#reset_list = nyc_inspect.drop(nyc_inspect['DBA'] == "SUBWAY")
reset_list = nyc_inspect.drop(nyc_inspect.index[df['DBA'] == "SUBWAY"], implace=True)
reset_list['DBA'].value_counts()

TypeError: drop() got an unexpected keyword argument 'implace'

In [39]:
for x in reset_list['DBA']:
    if reset_list['DBA'].count() > 300:
        reset_list.drop(reset_list.index[df['DBA']], implace=True)

ValueError: cannot index with vector containing NA / NaN values